In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("C:/Users/pawvaibh/Downloads/review.csv")

In [3]:
df.head()

,Restaurant,Reviewer,Review,Rating,Metadata,Time,Pictures
0,Beyond Flavours,Rusha Chakraborty,"The ambience was good, food was quite good . h...",5,"1 Review , 2 Followers",5/25/2019 15:54,0
1,Beyond Flavours,Anusha Tirumalaneedi,Ambience is too good for a pleasant evening. S...,5,"3 Reviews , 2 Followers",5/25/2019 14:20,0
2,Beyond Flavours,Ashok Shekhawat,A must try.. great food great ambience. Thnx f...,5,"2 Reviews , 3 Followers",5/24/2019 22:54,0
3,Beyond Flavours,Swapnil Sarkar,Soumen das and Arun was a great guy. Only beca...,5,"1 Review , 1 Follower",5/24/2019 22:11,0
4,Beyond Flavours,Dileep,Food is good.we ordered Kodi drumsticks and ba...,5,"3 Reviews , 2 Followers",5/24/2019 21:37,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Restaurant  10000 non-null  object
 1   Reviewer    9962 non-null   object
 2   Review      9955 non-null   object
 3   Rating      9962 non-null   object
 4   Metadata    9962 non-null   object
 5   Time        9962 non-null   object
 6   Pictures    10000 non-null  int64
dtypes: int64(1), object(6)
memory usage: 547.0+ KB

In [5]:
df.columns

Index(['Restaurant', 'Reviewer', 'Review', 'Rating', 'Metadata', 'Time',
       'Pictures'],
      dtype='object')

In [6]:
df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')

In [7]:
df.describe()

            Rating      Pictures
count  9961.000000  10000.000000
mean      3.601044      0.748600
std       1.483461      2.570381
min       1.000000      0.000000
25%       3.000000      0.000000
50%       4.000000      0.000000
75%       5.000000      0.000000
max       5.000000     64.000000

In [8]:
df.isnull().sum()

Restaurant     0
Reviewer      38
Review        45
Rating        39
Metadata      38
Time          38
Pictures       0
dtype: int64

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df.dropna(inplace=True)

In [11]:
df.isnull().sum()

Restaurant    0
Reviewer      0
Review        0
Rating        0
Metadata      0
Time          0
Pictures      0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9954 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Restaurant  9954 non-null   object
 1   Reviewer    9954 non-null   object
 2   Review      9954 non-null   object
 3   Rating      9954 non-null   float64
 4   Metadata    9954 non-null   object
 5   Time        9954 non-null   object
 6   Pictures    9954 non-null   int64
dtypes: float64(1), int64(1), object(5)
memory usage: 622.1+ KB

In [13]:
rest_unique = df['Restaurant'].nunique()
rest_unique

100

In [14]:
# Filter the DataFrame to include only rows where the rating is 5
restaurants_with_rating_5 = df[df['Rating'] == 5]

# Group by restaurant name and count occurrences of rating 5
rating_5_counts = restaurants_with_rating_5.groupby('Restaurant').size().reset_index(name='Number of 5 Ratings')

# Sort the DataFrame by the number of 5-star ratings in descending order
top_10_restaurants = rating_5_counts.sort_values(by='Number of 5 Ratings', ascending=False).head(10)

# Display the top 10 restaurants
print(top_10_restaurants)

                         Restaurant  Number of 5 Ratings
3         AB's - Absolute Barbecues                   93
2    3B's - Buddies, Bar & Barbecue                   91
11                           B-Dubs                   88
35                         Flechazo                   83
67                         Paradise                   80
87                   The Indi Grill                   71
16                  Beyond Flavours                   66
71             Prism Club & Kitchen                   62
64       Over The Moon Brew Company                   60
97  Zega - Sheraton Hyderabad Hotel                   60

In [15]:
# Group by restaurant name and calculate the mean rating
avg_rating_by_restaurant = df.groupby('Restaurant')['Rating'].mean().reset_index()

# Display the average rating of each restaurant
print(avg_rating_by_restaurant)

                               Restaurant  Rating
0                       10 Downing Street    3.80
1                                13 Dhaba    3.48
2          3B's - Buddies, Bar & Barbecue    4.76
3               AB's - Absolute Barbecues    4.88
4                       Absolute Sizzlers    3.62
..                                    ...     ...
95             Urban Asia - Kitchen & Bar    3.65
96  Yum Yum Tree - The Arabian Food Court    3.56
97        Zega - Sheraton Hyderabad Hotel    4.45
98               Zing's Northeast Kitchen    3.65
99                                eat.fit    3.20

[100 rows x 2 columns]

In [16]:
# Count the number of restaurants for each rating
rating_counts = df['Rating'].value_counts().sort_index()

# Display the number of restaurants for each rating
print("Rating\tNumber of Restaurants")
print("-----------------------------")
for rating, count in rating_counts.items():
    print(f"{rating}\t{count}")

Rating	Number of Restaurants
-----------------------------
1.0	1735
1.5	9
2.0	684
2.5	19
3.0	1192
3.5	47
4.0	2373
4.5	69
5.0	3826

In [17]:
df['Time'] = pd.to_datetime(df['Time'], errors='coerce')

In [18]:
# Extract the hour component from the 'Time' column
df['Hour'] = df['Time'].dt.hour

# Count the occurrences of each hour
hourly_review_counts = df['Hour'].value_counts().sort_index()

# Display the number of reviews for each hour of the day
print("Hour\tNumber of Reviews")
print("-----------------------------")
for hour, count in hourly_review_counts.items():
    print(f"{hour}\t{count}")

Hour	Number of Reviews
-----------------------------
0	509
1	313
2	167
3	102
4	55
5	39
6	44
7	78
8	134
9	171
10	229
11	308
12	459
13	580
14	776
15	645
16	548
17	480
18	437
19	522
20	714
21	875
22	967
23	802

In [19]:
# Define bins for each time category
bins = [0, 3, 7, 12, 16, 20, 24]
labels = ['MidNight', 'EarlyMorng', 'Morng', 'Noon', 'Evening', 'Night']

# Bin the hours into categories
df['Time_Category'] = pd.cut(df['Hour'], bins=bins, labels=labels, right=False)

# Count the occurrences of each time category
time_category_counts = df['Time_Category'].value_counts().sort_index()

# Display the number of reviews for each time category
print("Time Category\tNumber of Reviews")
print("----------------------------------")
for time_category, count in time_category_counts.items():
    print(f"{time_category}\t\t{count}")

Time Category	Number of Reviews
----------------------------------
MidNight		989
EarlyMorng		240
Morng		920
Noon		2460
Evening		1987
Night		3358

In [20]:
# Group ratings by the hour of the day and calculate the average rating for each hour
hourly_avg_rating = df.groupby('Hour')['Rating'].mean()

# Display the hourly average ratings
print("Hour\tAverage Rating")
print("----------------------")
for hour, avg_rating in hourly_avg_rating.items():
    print(f"{hour}\t{avg_rating:.2f}")

Hour	Average Rating
----------------------
0	3.47
1	3.47
2	3.58
3	3.45
4	3.77
5	3.85
6	3.69
7	3.50
8	3.42
9	3.65
10	3.65
11	3.63
12	3.66
13	3.67
14	3.53
15	3.60
16	3.53
17	3.67
18	3.60
19	3.59
20	3.70
21	3.58
22	3.61
23	3.65

In [21]:
# Count the number of unique reviewers who have uploaded pictures
reviewers_with_pictures = df[df['Pictures'].notnull()]['Reviewer'].nunique()

# Display the number of reviewers who have uploaded pictures
print("Number of Reviewers who have uploaded pictures:", reviewers_with_pictures)

Number of Reviewers who have uploaded pictures: 7442

In [22]:
def extract_reviews_followers(metadata):
    parts = metadata.split(',')
    reviews = int(parts[0].strip().split()[0]) if 'Review' in parts[0] else 0
    followers = 0
    if len(parts) > 1:
        followers = int(parts[1].strip().split()[0]) if 'Followers' in parts[1] else 0
    return reviews, followers



# Apply the function to extract reviews and followers
df['Reviews'], df['Followers'] = zip(*df['Metadata'].apply(extract_reviews_followers))

# Display the DataFrame with extracted reviews and followers
print(df[['Restaurant', 'Reviewer', 'Rating', 'Reviews', 'Followers']])

            Restaurant              Reviewer  Rating  Reviews  Followers
0      Beyond Flavours     Rusha Chakraborty     5.0        1          2
1      Beyond Flavours  Anusha Tirumalaneedi     5.0        3          2
2      Beyond Flavours       Ashok Shekhawat     5.0        2          3
3      Beyond Flavours        Swapnil Sarkar     5.0        1          0
4      Beyond Flavours                Dileep     5.0        3          2
...                ...                   ...     ...      ...        ...
9995  Chinese Pavilion      Abhishek Mahajan     3.0       53         54
9996  Chinese Pavilion        Sharad Agrawal     4.5        2         53
9997  Chinese Pavilion             Ramandeep     1.5       65        423
9998  Chinese Pavilion       Nayana Shanbhag     4.0       13        144
9999  Chinese Pavilion      Bhargava Krishna     3.5      472       1302

[9954 rows x 5 columns]

In [23]:
# Assuming df is your DataFrame containing the restaurant data

# Sort the DataFrame by the 'Followers' column in descending order
top_restaurants_fol = df.sort_values(by='Followers', ascending=False)

# Select the top 10 restaurants
top_10_restaurants_fol = top_restaurants_fol.head(10)

# Print the top 10 restaurants
print(top_10_restaurants_fol[['Restaurant', 'Followers']])

                                   Restaurant  Followers
6592  Komatose - Holiday Inn Express & Suites      13410
3927                            Deli 9 Bistro      13410
6876                    The Tilt Bar Republic      13410
8719                      American Wild Wings      13320
5160                Hitech Bawarchi Food Zone      11329
3147                              Pista House      11329
8027                      Tandoori Food Works       9494
7884                               Khaan Saab       9494
9659                        Hyderabadi Daawat       9494
9518                               Desi Bytes       9494

In [24]:
# Assuming df is your DataFrame containing the restaurant data

# Sort the DataFrame by the 'Followers' column in descending order
top_restaurants_rev = df.sort_values(by='Reviews', ascending=False)

# Select the top 10 restaurants
top_10_restaurants_rev = top_restaurants_rev.head(10)

# Print the top 10 restaurants
print(top_10_restaurants_rev[['Restaurant', 'Reviews']])

                                   Restaurant  Reviews
3124                              Pista House     1031
7297                                  Labonel     1031
9208     Collage - Hyatt Hyderabad Gachibowli     1031
4512                              Owm Nom Nom      685
7638            The Old Madras Baking Company      665
6627                             Aromas@11SIX      560
9653                        Hyderabadi Daawat      482
9999                         Chinese Pavilion      472
7686            The Old Madras Baking Company      452
9168  Cascade - Radisson Hyderabad Hitec City      452

In [25]:
# Get the set of restaurant names from the top 10 followers list
top_10_followers_restaurants_set = set(top_10_restaurants_fol['Restaurant'])

# Get the set of restaurant names from the top 10 reviews list
top_10_reviews_restaurants_set = set(top_10_restaurants_rev['Restaurant'])

# Find the common restaurants in both sets
common_restaurants = top_10_followers_restaurants_set.intersection(top_10_reviews_restaurants_set)

# Print the common restaurants
print("Common Restaurants:")
for restaurant in common_restaurants:
    print(restaurant)

Common Restaurants:
Pista House
Hyderabadi Daawat

In [26]:
# Assuming df is your DataFrame containing the restaurant data

# Calculate the correlation matrix for 'Review' and 'Rating' columns
correlation_matrix = df[['Followers','Reviews','Rating']].corr()

# Print the correlation matrix
print("Correlation Matrix for 'Followers' and 'Rating' columns:")
print(correlation_matrix)

Correlation Matrix for 'Followers' and 'Rating' columns:
           Followers   Reviews    Rating
Followers   1.000000  0.463054  0.035667
Reviews     0.463054  1.000000  0.034765
Rating      0.035667  0.034765  1.000000

In [27]:
from stop_words import get_stop_words

# Get the English stopwords list
stopwords_list = get_stop_words('en')

# Add custom stopwords
custom_stopwords = ["one", "food"]

# Extend the stopwords list with custom stopwords
stopwords_list.extend(custom_stopwords)

# Print the list of stopwords
print(stopwords_list)

['a', 'about', 'above', 'after', 'again', 'against', 'all', 'am', 'an', 'and', 'any', 'are', "aren't", 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', "can't", 'cannot', 'could', "couldn't", 'did', "didn't", 'do', 'does', "doesn't", 'doing', "don't", 'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', "hadn't", 'has', "hasn't", 'have', "haven't", 'having', 'he', "he'd", "he'll", "he's", 'her', 'here', "here's", 'hers', 'herself', 'him', 'himself', 'his', 'how', "how's", 'i', "i'd", "i'll", "i'm", "i've", 'if', 'in', 'into', 'is', "isn't", 'it', "it's", 'its', 'itself', "let's", 'me', 'more', 'most', "mustn't", 'my', 'myself', 'no', 'nor', 'not', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'ought', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 'same', "shan't", 'she', "she'd", "she'll", "she's", 'should', "shouldn't", 'so', 'some', 'such', 'than', 'that', "that's", 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', "there's", 'these', 'they', "they'd", "they'll", "they're", "they've", 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 'very', 'was', "wasn't", 'we', "we'd", "we'll", "we're", "we've", 'were', "weren't", 'what', "what's", 'when', "when's", 'where', "where's", 'which', 'while', 'who', "who's", 'whom', 'why', "why's", 'with', "won't", 'would', "wouldn't", 'you', "you'd", "you'll", "you're", "you've", 'your', 'yours', 'yourself', 'yourselves', 'one', 'food']

In [28]:
import re

# Function to preprocess a single review
def preprocess_review(review):
    # Convert to lowercase
    review = review.lower()
    # Remove punctuation
    review = re.sub(r'[^\w\s]', '', review)
    # Tokenize the review
    tokens = review.split()
    # Remove stopwords
    filtered_tokens = [word for word in tokens if word not in stopwords_list]
    # Join the tokens back into a string
    preprocessed_review = ' '.join(filtered_tokens)
    return preprocessed_review

# Apply preprocessing to the 'Review' column
df['Preprocessed_Review'] = df['Review'].apply(preprocess_review)

# Print the preprocessed reviews
print(df['Preprocessed_Review'])

0       ambience good quite good saturday lunch cost e...
1       ambience good pleasant evening service prompt ...
2       must try great great ambience thnx service pra...
3       soumen das arun great guy behavior sincerety g...
4       goodwe ordered kodi drumsticks basket mutton b...
                              ...
9995    madhumathi mahajan well start nice courteous s...
9996    place never disappointed us courteous staff se...
9997    bad rating mainly chicken bone found veg accep...
9998    personally love prefer chinese couple times hu...
9999    checked try delicious chinese seen nonveg lunc...
Name: Preprocessed_Review, Length: 9954, dtype: object

In [29]:
from collections import Counter

# Tokenize the preprocessed reviews
tokenized_reviews = df['Preprocessed_Review'].str.split()

# Flatten the list of tokenized reviews
all_tokens = [token for review in tokenized_reviews for token in review]

# Calculate word frequencies
word_frequencies = Counter(all_tokens)

# Print the most common words and their frequencies
print("Top 10 Most Common Words:")
for word, frequency in word_frequencies.most_common(10):
    print(word, ":", frequency)

Top 10 Most Common Words:
good : 7004
place : 5662
service : 3099
chicken : 3040
taste : 2199
ordered : 2163
ambience : 1995
great : 1935
really : 1659
time : 1580

In [30]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import LatentDirichletAllocation

# Initialize CountVectorizer to convert text to a bag of words
vectorizer = CountVectorizer(max_df=0.95, min_df=2, stop_words='english')

# Fit and transform the preprocessed reviews
X = vectorizer.fit_transform(df['Preprocessed_Review'])

# Initialize LDA model
lda = LatentDirichletAllocation(n_components=5, random_state=42)

# Fit the LDA model to the transformed data
lda.fit(X)

# Print the top words for each topic
print("Top words for each topic:")
feature_names = vectorizer.get_feature_names_out()
for topic_idx, topic in enumerate(lda.components_):
    print(f"Topic {topic_idx+1}:")
    print([feature_names[i] for i in topic.argsort()[:-10 - 1:-1]])

Top words for each topic:
Topic 1:
['ordered', 'order', 'chicken', 'good', 'taste', 'biryani', 'bad', 'restaurant', 'delivery', 'time']
Topic 2:
['good', 'place', 'service', 'great', 'ambience', 'nice', 'staff', 'time', 'visit', 'really']
Topic 3:
['service', 'good', 'place', 'ice', 'cream', 'best', 'excellent', 'try', 'really', 'nice']
Topic 4:
['good', 'chicken', 'place', 'veg', 'taste', 'ordered', 'biryani', 'ambience', 'starters', 'paneer']
Topic 5:
['place', 'chicken', 'try', 'good', 'best', 'cake', 'taste', 'chocolate', 'amazing', 'ordered']

In [31]:
from textblob import TextBlob

# Function to get sentiment score
def get_sentiment_score(review):
    # Get the polarity score for the review
    polarity = TextBlob(review).sentiment.polarity
    # Determine the overall sentiment
    if polarity > 0:
        return 'Positive'
    elif polarity < 0:
        return 'Negative'
    else:
        return 'Neutral'

# Apply sentiment analysis to the 'Review' column
df['Sentiment'] = df['Preprocessed_Review'].apply(get_sentiment_score)

# Count the frequency of each sentiment
sentiment_counts = df['Sentiment'].value_counts()

# Print the frequency of each sentiment
print("Sentiment Frequency:")
print(sentiment_counts)

Sentiment Frequency:
Sentiment
Positive    7592
Negative    1834
Neutral      528
Name: count, dtype: int64

In [32]:
# Group the DataFrame by 'Restaurant' and 'Sentiment' and count the occurrences
sentiment_counts_by_restaurant = df.groupby(['Restaurant', 'Sentiment']).size().unstack(fill_value=0)

# Find the restaurant with the highest number of positive, negative, and neutral sentiments
most_positive_restaurant = sentiment_counts_by_restaurant['Positive'].idxmax()
most_negative_restaurant = sentiment_counts_by_restaurant['Negative'].idxmax()
most_neutral_restaurant = sentiment_counts_by_restaurant['Neutral'].idxmax()

# Get the counts of positive, negative, and neutral sentiments for the most positive restaurant
positive_counts = sentiment_counts_by_restaurant.loc[most_positive_restaurant]

# Get the counts of positive, negative, and neutral sentiments for the most negative restaurant
negative_counts = sentiment_counts_by_restaurant.loc[most_negative_restaurant]

# Get the counts of positive, negative, and neutral sentiments for the most neutral restaurant
neutral_counts = sentiment_counts_by_restaurant.loc[most_neutral_restaurant]

# Print the results
print("Restaurant with the most positive sentiments:", most_positive_restaurant)
print("Positive Sentiments:", positive_counts['Positive'])
print("Negative Sentiments:", positive_counts['Negative'])
print("Neutral Sentiments:", positive_counts['Neutral'])

print("\nRestaurant with the most negative sentiments:", most_negative_restaurant)
print("Positive Sentiments:", negative_counts['Positive'])
print("Negative Sentiments:", negative_counts['Negative'])
print("Neutral Sentiments:", negative_counts['Neutral'])

print("\nRestaurant with the most neutral sentiments:", most_neutral_restaurant)
print("Positive Sentiments:", neutral_counts['Positive'])
print("Negative Sentiments:", neutral_counts['Negative'])
print("Neutral Sentiments:", neutral_counts['Neutral'])

Restaurant with the most positive sentiments: AB's - Absolute Barbecues
Positive Sentiments: 100
Negative Sentiments: 0
Neutral Sentiments: 0

Restaurant with the most negative sentiments: Hotel Zara Hi-Fi
Positive Sentiments: 32
Negative Sentiments: 53
Neutral Sentiments: 15

Restaurant with the most neutral sentiments: Delhi-39
Positive Sentiments: 50
Negative Sentiments: 29
Neutral Sentiments: 21

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df['Preprocessed_Review'], df['Sentiment'], test_size=0.2, random_state=42)

# Initialize TfidfVectorizer
vectorizer = TfidfVectorizer(max_features=5000)

# Fit and transform the training data
X_train_vectorized = vectorizer.fit_transform(X_train)

# Initialize Logistic Regression model
classifier = LogisticRegression()

# Train the model
classifier.fit(X_train_vectorized, y_train)

# Transform the testing data
X_test_vectorized = vectorizer.transform(X_test)

# Predict sentiment for testing data
y_pred = classifier.predict(X_test_vectorized)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
print("Classification Report:")
print(classification_report(y_test, y_pred))

Accuracy: 0.9146157709693621
Classification Report:
              precision    recall  f1-score   support

    Negative       0.89      0.79      0.84       384
     Neutral       0.96      0.41      0.57       110
    Positive       0.92      0.98      0.95      1497

    accuracy                           0.91      1991
   macro avg       0.92      0.73      0.79      1991
weighted avg       0.92      0.91      0.91      1991

In [34]:
# Calculate review lengths
df['Review_Length_Words'] = df['Preprocessed_Review'].apply(lambda x: len(x.split()))
df['Review_Length_Characters'] = df['Preprocessed_Review'].apply(lambda x: len(x))

# Descriptive statistics
print("Review length statistics:")
print(df[['Review_Length_Words', 'Review_Length_Characters']].describe())

Review length statistics:
       Review_Length_Words  Review_Length_Characters
count          9954.000000               9954.000000
mean             27.306711                183.198815
std              32.807319                222.143666
min               0.000000                  0.000000
25%              13.000000                 92.000000
50%              19.000000                126.000000
75%              31.000000                208.750000
max             578.000000               3759.000000

In [35]:

# Calculate the histogram data
hist, bin_edges = np.histogram(df['Review_Length_Words'], bins=30, range=(0, 300))

# Print the histogram data
print("\nReview Lengths (in Words):")
for i in range(len(hist)):
    print(f"Length {bin_edges[i]}-{bin_edges[i+1]}: {hist[i]}")

# Optional: Calculate total reviews within the specified range
total_reviews = sum(hist)
print(f"Total reviews within the specified range: {total_reviews}")

Review Lengths (in Words):
Length 0.0-10.0: 1985
Length 10.0-20.0: 3210
Length 20.0-30.0: 2047
Length 30.0-40.0: 964
Length 40.0-50.0: 550
Length 50.0-60.0: 337
Length 60.0-70.0: 217
Length 70.0-80.0: 147
Length 80.0-90.0: 100
Length 90.0-100.0: 77
Length 100.0-110.0: 64
Length 110.0-120.0: 46
Length 120.0-130.0: 29
Length 130.0-140.0: 23
Length 140.0-150.0: 26
Length 150.0-160.0: 19
Length 160.0-170.0: 12
Length 170.0-180.0: 17
Length 180.0-190.0: 15
Length 190.0-200.0: 10
Length 200.0-210.0: 4
Length 210.0-220.0: 6
Length 220.0-230.0: 10
Length 230.0-240.0: 5
Length 240.0-250.0: 5
Length 250.0-260.0: 0
Length 260.0-270.0: 4
Length 270.0-280.0: 3
Length 280.0-290.0: 3
Length 290.0-300.0: 3
Total reviews within the specified range: 9938

In [36]:
# Calculate average review length by rating
average_lengths = df.groupby('Rating')['Review_Length_Words'].mean()

# Print the average review length by rating
print("Average Review Length by Rating:")
for rating, avg_length in average_lengths.items():
    print(f"Rating {rating}: {avg_length:.2f} words")

Average Review Length by Rating:
Rating 1.0: 24.62 words
Rating 1.5: 60.89 words
Rating 2.0: 27.16 words
Rating 2.5: 38.74 words
Rating 3.0: 30.54 words
Rating 3.5: 45.23 words
Rating 4.0: 35.55 words
Rating 4.5: 34.48 words
Rating 5.0: 21.95 words

In [37]:
# Find the review with the maximum number of words
max_word_review = df[df['Review_Length_Words'] == df['Review_Length_Words'].max()]['Review'].iloc[0]

print("Review with the maximum number of words:")
print(max_word_review)

Review with the maximum number of words:
A peaceful n quite place is something u want after a hectic schedule where u can spend some quality time with friends or family that relaxes u for sometime.....even I wanted to relax n take a break from my hectic schedule.......one or two days later few of my friends invited me to this place n was delighted to know this place n it was perfect for me as I exactly wanted to head to a place similar to this......believe me guyz it's an awsome place n definitely u will fall in love with it.......

LETS begin with drinks first

They served so many MOCKTAILS like

ORANGE DELIGHT had amazing blend of vit C to give u the boost in this hot weather

CUCUMBER n MINT very refreshing to beat the heat n taste was good too

VIRGIN PINA COLADA not good as it had coconut n pineapple flavor n I'm not a fan of coconut flavor especially in drinks,so it was a No No for me

BLACK CURRANT tasted good

SPICY TANGO had a tinge of masala like jaljeera n a dash of spiciness dat had a pinching sensation on the throat.....little different n can be taken

BLUE LAGOON as the name says it's a blue colored drink dat had blue caracao syrup added with few lemon wedges n mint leaves.....tasted realllllyyy good

FOOD

GRILLED POMFRET
a big fat good looking pomfretðŸ˜‹ marinated with an awsome blend of very basic n flavorful spices n grilled to perfection....served with mint yogurt dip along with onion rings n lemon wedges.......fish was full of flavors with each bite giving superb taste n it was fresh as the taste of fish meat was very good n not at all smelly......well presented n deliciousðŸ‘Œ

CHILLI CHICKEN
Chunks of boneless chicken coated with batter n fried till golden brown,tossed in a chilli soy based sauce with onion,cubed capsicum,dry red chillies n spring onion stalks topped with handful of cashews n raw cabbage.....overall tasted very good n chicken was perfectly cooked n the sauce that was coating it was fab too...

CRISPY CORN
Crunchy corn topped with some garlic n onions is the best of anything that one could possibly desire for........ if you love crispy corn then u you cannot miss this.....it was a fantastic appetizer to start our meal with.......do not miss this guyzz ðŸ‘

THAI BASIL CHICKEN WINGS
When chicken wings are coated in a delicious schezwan style thai chilli garlic sauce with a touch of basil leaves u get an awsome result.....it was very different kinda wings which we don't usually get at other places.......delicious

CHICKEN WONTON
Minced chicken filling wrapped in wonton sheets served with sweet chilli dip......filling had a quite dominant flavor of vinegar otherwise it was fine.....

NAWABI SHIKAMPURI KEBAB
Usually shikampur is flat round shape n filled with yogurt,but here it was in a round ball shape filled with yogurt n onion dip.....shikampur was cooked very well n was going very well with the mint sahi chutney n onions on the side...

DRAGON PRAWNS
Crispy fried prawns tossed in red chili n garlic sauce

BUTTER GARLIC PRAWNS
By far one of the best butter garlic prawns I had till now.....crispy fried prawns tossed in a velvety buttery n garlicky sauce with onions n spring onion stalks topped with sesame seeds n raw cabbage......ðŸ‘Œ

TIGER PRAWNS
Jumbo is also a small word to describe the size of these prawns....whoa mahn!!!!
Tiger prawns was the right name given to this dish as the prawns sized huge....tossed in a very basic garlic,salt n pepper sauce served on a bed of blanched spinach topped with lemon wedge.....it was a bit hard but other than that the flavors were good

DAL TADKA
Well blended with perfect tempering of dry red chillies,chopped garlic,cumin seeds n oil.....was one of my favorite from the main course items.....delicious

RARA GOSHT
Minced meat gravy dat was delicious n spices did not overpower the whole dish which was the best part of this dish

BUTTER NAAN n AMRISTSARI KULCHA tasted yummmmm

BURNT FRIED RICE WITH SCHEZWAN CHICKEN GRAVY
This combo can never go wrong.....both the dishes complimented each other n it tasted fab!!!

DESSERTS

GULAB JAMUN
Perfect rounds of gulab jamun served with sugar syrup n sprinkled with chopped almonds wer yummmmmm
Perfectly cooked with just the right color

CREME BRULEE
It consists of a rich custard base topped with a layer of hardened caramelized sugar....... it was served slightly chilled topped with plenty of fruit cuts n presented with apple slices by the side.......
It was different from other places n tasted yummm

CHOCOLATE FONDANT WITH VANILLA ICE CREAM
When a warm choco lava cake is topped with a scoop of vanilla ice cream drizzled with loadz of chocolate sauce n dusted with powdered sugar den there is nothing else u want in ur lifeðŸ˜‹

SERVICE was on point.....staff was very polite n humble
Delivered each n every item with punctuality n was never rude even if we asked something too many times....good team

FINALLY would like to recommend this place to people who would like to spend some quality time with family,friends or der loved ones in a peaceful n quite place accompanying with some delectable food.....even very good to conduct ur business meetings.....overall it's convenient for everyone.........do visit this place n njoy ðŸ˜

In [78]:
# Group by reviewer and count the number of reviews
reviewer_counts = df.groupby('Reviewer').size()

# Filter reviewers with more than one review
multiple_reviews_reviewers = reviewer_counts[reviewer_counts > 9]

# Display reviewers with more than one review
if not multiple_reviews_reviewers.empty:
    print("Reviewers with more than one review:")
    print(multiple_reviews_reviewers)
else:
    print("No reviewers with more than one review found.")

Reviewers with more than one review:
Reviewer
Age Of Foodies (Suraj Karambe)    10
Ankita                            13
Jay Mehta                         11
Kiran                             12
Manojkumar D Nambisan             10
Parijat Ray                       13
Priyanka                          10
Siva Kumar                        10
Sravani                           10
Vedant Killa                      11
dtype: int64

In [79]:
# Create an empty dictionary to store reviewer names and corresponding reviewed restaurants
reviewer_restaurants_dict = {}

# Iterate over the top reviewers with more than one review
for reviewer in multiple_reviews_reviewers.index:
    
    # Filter the DataFrame to include reviews by the current reviewer
    reviews_by_reviewer = df[df['Reviewer'] == reviewer]
    
    # Get the list of restaurants reviewed by the current reviewer
    reviewed_restaurants = reviews_by_reviewer['Restaurant'].unique()
    
    # Store the reviewer name and corresponding reviewed restaurants in the dictionary
    reviewer_restaurants_dict[reviewer] = reviewed_restaurants
    
    # Display the reviewer names and corresponding reviewed restaurants
    print("Reviewer names and corresponding reviewed restaurants:")
    for reviewer, restaurants in reviewer_restaurants_dict.items():
        print(f"Reviewer: {reviewer}")
        print("Reviewed Restaurants:")
        for restaurant in restaurants:
            print(restaurant)
        print()

Reviewer names and corresponding reviewed restaurants:
Reviewer: Age Of Foodies (Suraj Karambe)
Reviewed Restaurants:
Barbeque Nation
Amul
Pista House
Shanghai Chef 2
Hitech Bawarchi Food Zone
Diners Pavilion
Yum Yum Tree - The Arabian Food Court
Olive Garden
Tandoori Food Works
American Wild Wings

Reviewer names and corresponding reviewed restaurants:
Reviewer: Age Of Foodies (Suraj Karambe)
Reviewed Restaurants:
Barbeque Nation
Amul
Pista House
Shanghai Chef 2
Hitech Bawarchi Food Zone
Diners Pavilion
Yum Yum Tree - The Arabian Food Court
Olive Garden
Tandoori Food Works
American Wild Wings

Reviewer: Ankita
Reviewed Restaurants:
Hyper Local
Absolute Sizzlers
The Lal Street - Bar Exchange
Jonathan's Kitchen - Holiday Inn Express & Suites
SKYHY
Banana Leaf Multicuisine Restaurant
Kritunga Restaurant
The Foodie Monster Kitchen
Ulavacharu
Udipi's Upahar
KS Bakers
Arena Eleven
Triptify

Reviewer names and corresponding reviewed restaurants:
Reviewer: Age Of Foodies (Suraj Karambe)
Reviewed Restaurants:
Barbeque Nation
Amul
Pista House
Shanghai Chef 2
Hitech Bawarchi Food Zone
Diners Pavilion
Yum Yum Tree - The Arabian Food Court
Olive Garden
Tandoori Food Works
American Wild Wings

Reviewer: Ankita
Reviewed Restaurants:
Hyper Local
Absolute Sizzlers
The Lal Street - Bar Exchange
Jonathan's Kitchen - Holiday Inn Express & Suites
SKYHY
Banana Leaf Multicuisine Restaurant
Kritunga Restaurant
The Foodie Monster Kitchen
Ulavacharu
Udipi's Upahar
KS Bakers
Arena Eleven
Triptify

Reviewer: Jay Mehta
Reviewed Restaurants:
NorFest - The Dhaba
13 Dhaba
Pot Pourri
The Glass Onion
Frio Bistro
Gal Punjab Di
Cafe Eclat
The Tilt Bar Republic
Labonel
Momos Delight
Zing's Northeast Kitchen

Reviewer names and corresponding reviewed restaurants:
Reviewer: Age Of Foodies (Suraj Karambe)
Reviewed Restaurants:
Barbeque Nation
Amul
Pista House
Shanghai Chef 2
Hitech Bawarchi Food Zone
Diners Pavilion
Yum Yum Tree - The Arabian Food Court
Olive Garden
Tandoori Food Works
American Wild Wings

Reviewer: Ankita
Reviewed Restaurants:
Hyper Local
Absolute Sizzlers
The Lal Street - Bar Exchange
Jonathan's Kitchen - Holiday Inn Express & Suites
SKYHY
Banana Leaf Multicuisine Restaurant
Kritunga Restaurant
The Foodie Monster Kitchen
Ulavacharu
Udipi's Upahar
KS Bakers
Arena Eleven
Triptify

Reviewer: Jay Mehta
Reviewed Restaurants:
NorFest - The Dhaba
13 Dhaba
Pot Pourri
The Glass Onion
Frio Bistro
Gal Punjab Di
Cafe Eclat
The Tilt Bar Republic
Labonel
Momos Delight
Zing's Northeast Kitchen

Reviewer: Kiran
Reviewed Restaurants:
Shah Ghouse Hotel & Restaurant
Over The Moon Brew Company
Cream Stone
Barbeque Nation
10 Downing Street
Cafe Eclat
KS Bakers
Triptify

Reviewer names and corresponding reviewed restaurants:
Reviewer: Age Of Foodies (Suraj Karambe)
Reviewed Restaurants:
Barbeque Nation
Amul
Pista House
Shanghai Chef 2
Hitech Bawarchi Food Zone
Diners Pavilion
Yum Yum Tree - The Arabian Food Court
Olive Garden
Tandoori Food Works
American Wild Wings

Reviewer: Ankita
Reviewed Restaurants:
Hyper Local
Absolute Sizzlers
The Lal Street - Bar Exchange
Jonathan's Kitchen - Holiday Inn Express & Suites
SKYHY
Banana Leaf Multicuisine Restaurant
Kritunga Restaurant
The Foodie Monster Kitchen
Ulavacharu
Udipi's Upahar
KS Bakers
Arena Eleven
Triptify

Reviewer: Jay Mehta
Reviewed Restaurants:
NorFest - The Dhaba
13 Dhaba
Pot Pourri
The Glass Onion
Frio Bistro
Gal Punjab Di
Cafe Eclat
The Tilt Bar Republic
Labonel
Momos Delight
Zing's Northeast Kitchen

Reviewer: Kiran
Reviewed Restaurants:
Shah Ghouse Hotel & Restaurant
Over The Moon Brew Company
Cream Stone
Barbeque Nation
10 Downing Street
Cafe Eclat
KS Bakers
Triptify

Reviewer: Manojkumar D Nambisan
Reviewed Restaurants:
Shah Ghouse Hotel & Restaurant
The Lal Street - Bar Exchange
10 Downing Street
Tiki Shack
Marsala Food Company
Frio Bistro
Gal Punjab Di
Feast - Sheraton Hyderabad Hotel
Dine O China
Komatose - Holiday Inn Express & Suites

Reviewer names and corresponding reviewed restaurants:
Reviewer: Age Of Foodies (Suraj Karambe)
Reviewed Restaurants:
Barbeque Nation
Amul
Pista House
Shanghai Chef 2
Hitech Bawarchi Food Zone
Diners Pavilion
Yum Yum Tree - The Arabian Food Court
Olive Garden
Tandoori Food Works
American Wild Wings

Reviewer: Ankita
Reviewed Restaurants:
Hyper Local
Absolute Sizzlers
The Lal Street - Bar Exchange
Jonathan's Kitchen - Holiday Inn Express & Suites
SKYHY
Banana Leaf Multicuisine Restaurant
Kritunga Restaurant
The Foodie Monster Kitchen
Ulavacharu
Udipi's Upahar
KS Bakers
Arena Eleven
Triptify

Reviewer: Jay Mehta
Reviewed Restaurants:
NorFest - The Dhaba
13 Dhaba
Pot Pourri
The Glass Onion
Frio Bistro
Gal Punjab Di
Cafe Eclat
The Tilt Bar Republic
Labonel
Momos Delight
Zing's Northeast Kitchen

Reviewer: Kiran
Reviewed Restaurants:
Shah Ghouse Hotel & Restaurant
Over The Moon Brew Company
Cream Stone
Barbeque Nation
10 Downing Street
Cafe Eclat
KS Bakers
Triptify

Reviewer: Manojkumar D Nambisan
Reviewed Restaurants:
Shah Ghouse Hotel & Restaurant
The Lal Street - Bar Exchange
10 Downing Street
Tiki Shack
Marsala Food Company
Frio Bistro
Gal Punjab Di
Feast - Sheraton Hyderabad Hotel
Dine O China
Komatose - Holiday Inn Express & Suites

Reviewer: Parijat Ray
Reviewed Restaurants:
Hyper Local
Absolute Sizzlers
NorFest - The Dhaba
Mustang Terrace Lounge
Pot Pourri
Marsala Food Company
Club Rogue
Kritunga Restaurant
Diners Pavilion
Asian Meal Box
KS Bakers
Tandoori Food Works
GD's

Reviewer names and corresponding reviewed restaurants:
Reviewer: Age Of Foodies (Suraj Karambe)
Reviewed Restaurants:
Barbeque Nation
Amul
Pista House
Shanghai Chef 2
Hitech Bawarchi Food Zone
Diners Pavilion
Yum Yum Tree - The Arabian Food Court
Olive Garden
Tandoori Food Works
American Wild Wings

Reviewer: Ankita
Reviewed Restaurants:
Hyper Local
Absolute Sizzlers
The Lal Street - Bar Exchange
Jonathan's Kitchen - Holiday Inn Express & Suites
SKYHY
Banana Leaf Multicuisine Restaurant
Kritunga Restaurant
The Foodie Monster Kitchen
Ulavacharu
Udipi's Upahar
KS Bakers
Arena Eleven
Triptify

Reviewer: Jay Mehta
Reviewed Restaurants:
NorFest - The Dhaba
13 Dhaba
Pot Pourri
The Glass Onion
Frio Bistro
Gal Punjab Di
Cafe Eclat
The Tilt Bar Republic
Labonel
Momos Delight
Zing's Northeast Kitchen

Reviewer: Kiran
Reviewed Restaurants:
Shah Ghouse Hotel & Restaurant
Over The Moon Brew Company
Cream Stone
Barbeque Nation
10 Downing Street
Cafe Eclat
KS Bakers
Triptify

Reviewer: Manojkumar D Nambisan
Reviewed Restaurants:
Shah Ghouse Hotel & Restaurant
The Lal Street - Bar Exchange
10 Downing Street
Tiki Shack
Marsala Food Company
Frio Bistro
Gal Punjab Di
Feast - Sheraton Hyderabad Hotel
Dine O China
Komatose - Holiday Inn Express & Suites

Reviewer: Parijat Ray
Reviewed Restaurants:
Hyper Local
Absolute Sizzlers
NorFest - The Dhaba
Mustang Terrace Lounge
Pot Pourri
Marsala Food Company
Club Rogue
Kritunga Restaurant
Diners Pavilion
Asian Meal Box
KS Bakers
Tandoori Food Works
GD's

Reviewer: Priyanka
Reviewed Restaurants:
Over The Moon Brew Company
Pot Pourri
Karachi Cafe
Gal Punjab Di
Asian Meal Box
Yum Yum Tree - The Arabian Food Court
Eat India Company
Domino's Pizza
Cascade - Radisson Hyderabad Hitec City
Triptify

Reviewer names and corresponding reviewed restaurants:
Reviewer: Age Of Foodies (Suraj Karambe)
Reviewed Restaurants:
Barbeque Nation
Amul
Pista House
Shanghai Chef 2
Hitech Bawarchi Food Zone
Diners Pavilion
Yum Yum Tree - The Arabian Food Court
Olive Garden
Tandoori Food Works
American Wild Wings

Reviewer: Ankita
Reviewed Restaurants:
Hyper Local
Absolute Sizzlers
The Lal Street - Bar Exchange
Jonathan's Kitchen - Holiday Inn Express & Suites
SKYHY
Banana Leaf Multicuisine Restaurant
Kritunga Restaurant
The Foodie Monster Kitchen
Ulavacharu
Udipi's Upahar
KS Bakers
Arena Eleven
Triptify

Reviewer: Jay Mehta
Reviewed Restaurants:
NorFest - The Dhaba
13 Dhaba
Pot Pourri
The Glass Onion
Frio Bistro
Gal Punjab Di
Cafe Eclat
The Tilt Bar Republic
Labonel
Momos Delight
Zing's Northeast Kitchen

Reviewer: Kiran
Reviewed Restaurants:
Shah Ghouse Hotel & Restaurant
Over The Moon Brew Company
Cream Stone
Barbeque Nation
10 Downing Street
Cafe Eclat
KS Bakers
Triptify

Reviewer: Manojkumar D Nambisan
Reviewed Restaurants:
Shah Ghouse Hotel & Restaurant
The Lal Street - Bar Exchange
10 Downing Street
Tiki Shack
Marsala Food Company
Frio Bistro
Gal Punjab Di
Feast - Sheraton Hyderabad Hotel
Dine O China
Komatose - Holiday Inn Express & Suites

Reviewer: Parijat Ray
Reviewed Restaurants:
Hyper Local
Absolute Sizzlers
NorFest - The Dhaba
Mustang Terrace Lounge
Pot Pourri
Marsala Food Company
Club Rogue
Kritunga Restaurant
Diners Pavilion
Asian Meal Box
KS Bakers
Tandoori Food Works
GD's

Reviewer: Priyanka
Reviewed Restaurants:
Over The Moon Brew Company
Pot Pourri
Karachi Cafe
Gal Punjab Di
Asian Meal Box
Yum Yum Tree - The Arabian Food Court
Eat India Company
Domino's Pizza
Cascade - Radisson Hyderabad Hitec City
Triptify

Reviewer: Siva Kumar
Reviewed Restaurants:
Mazzo - Marriott Executive Apartments
Banana Leaf Multicuisine Restaurant
Karachi Bakery
Owm Nom Nom
Diners Pavilion
Tempteys
Yum Yum Tree - The Arabian Food Court
The Tilt Bar Republic
Driven Cafe
Khaan Saab

Reviewer names and corresponding reviewed restaurants:
Reviewer: Age Of Foodies (Suraj Karambe)
Reviewed Restaurants:
Barbeque Nation
Amul
Pista House
Shanghai Chef 2
Hitech Bawarchi Food Zone
Diners Pavilion
Yum Yum Tree - The Arabian Food Court
Olive Garden
Tandoori Food Works
American Wild Wings

Reviewer: Ankita
Reviewed Restaurants:
Hyper Local
Absolute Sizzlers
The Lal Street - Bar Exchange
Jonathan's Kitchen - Holiday Inn Express & Suites
SKYHY
Banana Leaf Multicuisine Restaurant
Kritunga Restaurant
The Foodie Monster Kitchen
Ulavacharu
Udipi's Upahar
KS Bakers
Arena Eleven
Triptify

Reviewer: Jay Mehta
Reviewed Restaurants:
NorFest - The Dhaba
13 Dhaba
Pot Pourri
The Glass Onion
Frio Bistro
Gal Punjab Di
Cafe Eclat
The Tilt Bar Republic
Labonel
Momos Delight
Zing's Northeast Kitchen

Reviewer: Kiran
Reviewed Restaurants:
Shah Ghouse Hotel & Restaurant
Over The Moon Brew Company
Cream Stone
Barbeque Nation
10 Downing Street
Cafe Eclat
KS Bakers
Triptify

Reviewer: Manojkumar D Nambisan
Reviewed Restaurants:
Shah Ghouse Hotel & Restaurant
The Lal Street - Bar Exchange
10 Downing Street
Tiki Shack
Marsala Food Company
Frio Bistro
Gal Punjab Di
Feast - Sheraton Hyderabad Hotel
Dine O China
Komatose - Holiday Inn Express & Suites

Reviewer: Parijat Ray
Reviewed Restaurants:
Hyper Local
Absolute Sizzlers
NorFest - The Dhaba
Mustang Terrace Lounge
Pot Pourri
Marsala Food Company
Club Rogue
Kritunga Restaurant
Diners Pavilion
Asian Meal Box
KS Bakers
Tandoori Food Works
GD's

Reviewer: Priyanka
Reviewed Restaurants:
Over The Moon Brew Company
Pot Pourri
Karachi Cafe
Gal Punjab Di
Asian Meal Box
Yum Yum Tree - The Arabian Food Court
Eat India Company
Domino's Pizza
Cascade - Radisson Hyderabad Hitec City
Triptify

Reviewer: Siva Kumar
Reviewed Restaurants:
Mazzo - Marriott Executive Apartments
Banana Leaf Multicuisine Restaurant
Karachi Bakery
Owm Nom Nom
Diners Pavilion
Tempteys
Yum Yum Tree - The Arabian Food Court
The Tilt Bar Republic
Driven Cafe
Khaan Saab

Reviewer: Sravani
Reviewed Restaurants:
Paradise
eat.fit
Cream Stone
Pot Pourri
Owm Nom Nom
Ulavacharu
Biryanis And More
Tempteys
Hyderabad Chefs
Eat India Company

Reviewer names and corresponding reviewed restaurants:
Reviewer: Age Of Foodies (Suraj Karambe)
Reviewed Restaurants:
Barbeque Nation
Amul
Pista House
Shanghai Chef 2
Hitech Bawarchi Food Zone
Diners Pavilion
Yum Yum Tree - The Arabian Food Court
Olive Garden
Tandoori Food Works
American Wild Wings

Reviewer: Ankita
Reviewed Restaurants:
Hyper Local
Absolute Sizzlers
The Lal Street - Bar Exchange
Jonathan's Kitchen - Holiday Inn Express & Suites
SKYHY
Banana Leaf Multicuisine Restaurant
Kritunga Restaurant
The Foodie Monster Kitchen
Ulavacharu
Udipi's Upahar
KS Bakers
Arena Eleven
Triptify

Reviewer: Jay Mehta
Reviewed Restaurants:
NorFest - The Dhaba
13 Dhaba
Pot Pourri
The Glass Onion
Frio Bistro
Gal Punjab Di
Cafe Eclat
The Tilt Bar Republic
Labonel
Momos Delight
Zing's Northeast Kitchen

Reviewer: Kiran
Reviewed Restaurants:
Shah Ghouse Hotel & Restaurant
Over The Moon Brew Company
Cream Stone
Barbeque Nation
10 Downing Street
Cafe Eclat
KS Bakers
Triptify

Reviewer: Manojkumar D Nambisan
Reviewed Restaurants:
Shah Ghouse Hotel & Restaurant
The Lal Street - Bar Exchange
10 Downing Street
Tiki Shack
Marsala Food Company
Frio Bistro
Gal Punjab Di
Feast - Sheraton Hyderabad Hotel
Dine O China
Komatose - Holiday Inn Express & Suites

Reviewer: Parijat Ray
Reviewed Restaurants:
Hyper Local
Absolute Sizzlers
NorFest - The Dhaba
Mustang Terrace Lounge
Pot Pourri
Marsala Food Company
Club Rogue
Kritunga Restaurant
Diners Pavilion
Asian Meal Box
KS Bakers
Tandoori Food Works
GD's

Reviewer: Priyanka
Reviewed Restaurants:
Over The Moon Brew Company
Pot Pourri
Karachi Cafe
Gal Punjab Di
Asian Meal Box
Yum Yum Tree - The Arabian Food Court
Eat India Company
Domino's Pizza
Cascade - Radisson Hyderabad Hitec City
Triptify

Reviewer: Siva Kumar
Reviewed Restaurants:
Mazzo - Marriott Executive Apartments
Banana Leaf Multicuisine Restaurant
Karachi Bakery
Owm Nom Nom
Diners Pavilion
Tempteys
Yum Yum Tree - The Arabian Food Court
The Tilt Bar Republic
Driven Cafe
Khaan Saab

Reviewer: Sravani
Reviewed Restaurants:
Paradise
eat.fit
Cream Stone
Pot Pourri
Owm Nom Nom
Ulavacharu
Biryanis And More
Tempteys
Hyderabad Chefs
Eat India Company

Reviewer: Vedant Killa
Reviewed Restaurants:
Barbeque Nation
10 Downing Street
Karachi Bakery
Gal Punjab Di
Eat India Company
Labonel
Driven Cafe
The Old Madras Baking Company
GD's
The Chocolate Room
Triptify

In [82]:
from collections import Counter

# Flatten the list of reviewed restaurants for all top 10 reviewers
all_reviewed_restaurants = [restaurant for restaurants_list in reviewer_restaurants_dict.values() for restaurant in restaurants_list]

# Count the occurrences of each restaurant
restaurant_counts = Counter(all_reviewed_restaurants)

# Find the most commonly reviewed restaurants
most_common_restaurants = restaurant_counts.most_common()

# Display the most commonly reviewed restaurants
if most_common_restaurants:
    print("Most commonly reviewed restaurants among the top 10 reviewers:")
    for restaurant, count in most_common_restaurants:
        print(f"{restaurant}: {count} reviews")
else:
    print("No restaurants reviewed by the top 10 reviewers.")

Most commonly reviewed restaurants among the top 10 reviewers:
Triptify: 4 reviews
Pot Pourri: 4 reviews
Gal Punjab Di: 4 reviews
Barbeque Nation: 3 reviews
Diners Pavilion: 3 reviews
Yum Yum Tree - The Arabian Food Court: 3 reviews
KS Bakers: 3 reviews
10 Downing Street: 3 reviews
Eat India Company: 3 reviews
Tandoori Food Works: 2 reviews
Hyper Local: 2 reviews
Absolute Sizzlers: 2 reviews
The Lal Street - Bar Exchange: 2 reviews
Banana Leaf Multicuisine Restaurant: 2 reviews
Kritunga Restaurant: 2 reviews
Ulavacharu: 2 reviews
NorFest - The Dhaba: 2 reviews
Frio Bistro: 2 reviews
Cafe Eclat: 2 reviews
The Tilt Bar Republic: 2 reviews
Labonel: 2 reviews
Shah Ghouse Hotel & Restaurant: 2 reviews
Over The Moon Brew Company: 2 reviews
Cream Stone: 2 reviews
Marsala Food Company: 2 reviews
Asian Meal Box: 2 reviews
GD's: 2 reviews
Karachi Bakery: 2 reviews
Owm Nom Nom: 2 reviews
Tempteys: 2 reviews
Driven Cafe: 2 reviews
Amul: 1 reviews
Pista House: 1 reviews
Shanghai Chef 2: 1 reviews
Hitech Bawarchi Food Zone: 1 reviews
Olive Garden: 1 reviews
American Wild Wings: 1 reviews
Jonathan's Kitchen - Holiday Inn Express & Suites: 1 reviews
SKYHY: 1 reviews
The Foodie Monster Kitchen: 1 reviews
Udipi's Upahar: 1 reviews
Arena Eleven: 1 reviews
13 Dhaba: 1 reviews
The Glass Onion: 1 reviews
Momos Delight: 1 reviews
Zing's Northeast Kitchen: 1 reviews
Tiki Shack: 1 reviews
Feast - Sheraton Hyderabad Hotel: 1 reviews
Dine O China: 1 reviews
Komatose - Holiday Inn Express & Suites: 1 reviews
Mustang Terrace Lounge: 1 reviews
Club Rogue: 1 reviews
Karachi Cafe: 1 reviews
Domino's Pizza: 1 reviews
Cascade - Radisson Hyderabad Hitec City: 1 reviews
Mazzo - Marriott Executive Apartments: 1 reviews
Khaan Saab: 1 reviews
Paradise: 1 reviews
eat.fit: 1 reviews
Biryanis And More: 1 reviews
Hyderabad Chefs: 1 reviews
The Old Madras Baking Company: 1 reviews
The Chocolate Room: 1 reviews